body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
h1 {
    color: #cc181e; /* YouTube Red */
    text-align: center;
}
form {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form div {
    margin-bottom: 15px;
}
form div label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
form div input, form div textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #cc181e; /* YouTube Red */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
form button:hover {
    background-color: #a3141a; /* Darker YouTube Red */
}