<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf6DhZgMBBo7kZ1wvEJgtCVnMWQBTL3H4</string>
	<key>GCM_SENDER_ID</key>
	<string>778970187906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devpedia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>devpedia-8231d</string>
	<key>STORAGE_BUCKET</key>
	<string>devpedia-8231d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778970187906:ios:6b482117f5a2d674ac4c9b</string>
</dict>
</plist>